# Prevent service account key from being committed
# Python
.venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/
build/

# Env
.env

# Secrets (important)
client_secret*.json
*.key.json

western-dolphin-494913-q6-abd370e948b0.json